.feature-box {
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2.5rem;
    transition: transform 0.3s;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__icon {
        font-size: 6rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(-2rem) scale(1.05);

    }
}